{{!-- <div class="container">
  <div class="row">
    <h1 class="col-md-12 text-center">Contact Us</h1>
    <div class="w-100"></div>
    <div class="col-md-12">Phone: 321-210-9676 <br>Email: hmccarthy56@hotmail.com</div>
    <div class="w-100"></div>
    <div class="col-md-2 grid-item">Your email address:</div>
    <input class="col-md-10" type="text" placeholder="input email address here">
    <div class="col-md-2 grid-item">Your phone number # (optional):</div>
    <input class="col-md-10" type="text" placeholder="input phone # here">
    <label for="subject" class="col-md-12">Comments:</label>
    <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </div>
</div> --}}

<div class="cards d-flex flex-wrap justify-content-center p-2 bd-highlight">

  <div class="card" style="width: 12rem; margin: 5px;">

    <h5 class="card-title p-3 mb-2 text-center bg-dark text-light">Gina Davis</h5>
    <div class="card-header">
      FullStack Web Developer Student
    </div>
    <div class="card-body">
      <p><a href="mailto:gina.vera.davis@gmail.com"> GMAIL </a></p>
      <p><a href="https://github.com/ginitadavis" target="_blank" class="fa fa-github">github</a></p>
    </div>
  </div>


  <div class="card" style="width: 12rem; margin: 5px;">
    <h5 class="card-title p-3 mb-2 text-center bg-dark text-light">Hunter McCarthy</h5>
    <div class="card-header">
      FullStack Web Developer Student
    </div>
    <div class="card-body">

      <p><a href="mailto:hunterMcCarthy56@hotmail.com"> GMAIL </a></p>
      <p><a href="https://github.com/hmccarthy1" target="_blank" class="fa fa-github">github</a></p>
    </div>
  </div>
  <div class="card" style="width: 12rem; margin: 5px;">
    <h5 class="card-title p-3 mb-2 text-center bg-dark text-light">Chris Wilson</h5>
    <div class="card-header">
      FullStack Web Developer Student
    </div>
    <div class="card-body">

      <p><a href="mailto:Chris.Wilson@gmail.com"> GMAIL </a></p>
      <p><a href="https://github.com/Cwilson84" target="_blank" class="fa fa-github">github</a></p>
    </div>
  </div>

  <div class="card" style="width: 12rem; margin: 5px;">
    <h5 class="card-title p-3 mb-2 text-center bg-dark text-light">Russell Errazo</h5>
    <div class="card-header">
      FullStack Web Developer Student
    </div>
    <div class="card-body">

      <p><a href="mailto:Russell.Errazo@gmail.com"> GMAIL </a></p>
      <p><a href="https://github.com/DrPibby" target="_blank" class="fa fa-github">github</a></p>
    </div>
  </div>


</div>