<section class="container"> 
    <div class="row">
        <div class="text-center col-md-12">
        This is a website for Florida Springs overs who want to continue finding new things to enjoy about florida springs.<br>You can use our 
        option to search by things like spring name, amenities, or location.
        </div>
        <div class="text-center col-md-6 text-left">"Name of the Springs"</div>
        <div class="text-center col-md-6 text-right">Overall rating - "average review number"/10</div>
        <div class="imageCarousel text-center col-md-12 align-self-center">"insert image carousel here"</div>
        <div class="sDesc text-center col-md-12 align-self-center">"Stored description here"</div>
    </div>
</section>