<link rel="stylesheet" href="/css/login.css">

<div class="row">
    <div class="col-md-6">
        <section class="mainContent">
            <div class="loginSection">
                
                <div class="card card-background" style="width: 30rem; margin-top:50px">
                    <h5 class="card-title  text-center">Login</h5>
                    <div class="card-body">

                        <form class="form login-form">
                            {{!-- Email --}}
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email">
                            </div>

                            {{!-- Password --}}
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password">
                            </div>

                            {{!-- Login button --}}
                            <div class="form-group text-center">
                                <button class="btn btn-primary" type="submit" id="btnAddUser">Login</button>
                            </div>

                            {{!-- No account yet --}}
                            <div class="form-group text-center">
                                <a class="loginText" href="/floridasprings/register">No account yet? Click here to register</a>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </section>

    </div>
</div>    

    <script src="/js/login.js"></script>