<link rel="stylesheet" href="/css/register.css">
<div class="loginSection">

    <div class="card card-background" style="width: 30rem; margin-top:50px">
        <h5 class="card-title text-center">Signup a new user</h5>
        <div class="card-body">
            <form class="form signup-form">

                {{!-- Name --}}
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="name">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="name">
                </div>

                {{!-- DOB --}}
                <div class="form-group">
                    <label for="dob">Date of birth:</label>
                    <input type="text" id="dob" name="dob">
                </div>

                {{!-- Email --}}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>

                {{!-- Password --}}
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>

                {{!-- Phone# --}}
                <div class="form-group">
                    <label for="phone">Phone#:</label>
                    <input type="text" id="phone" name="phone">
                </div>

                {{!-- Picture --}}
                <div class="form-group">
                    <label for="myFile">Picture:</label>
                    <input type="file" id="myFile" name="filename">
                    {{!-- <input class="btn-primary" type="submit"> --}}
                </div>

                {{!-- Add User button --}}
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit" id="btnAddUser">Add User</button>
                </div>

                {{!-- Already a user --}}
                <div class="form-group text-center">
                    <a class="registerText" href="/login">Already a user? Click here to log in</a>
                </div>
            </form>

        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>This is a modal message!</p>
        </div>
    </div>

</div>


<script src="/js/register.js"></script>