<img src="{{image}}" alt="">


<form id="form">

<input type="file" id="file" accept=".jpg, .mov, .pdf, .img"> </input><br> 
<input type="text" id="caption" placeholder="Enter a caption"><br>
<button type="submit" id="submit">Add an image / video</button>


<script src="/js/reviewMedia.js"></script>



</form>


